<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="StyleSheet" href="{{ url_for('static', filename='arsandbox.css') }}" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6b9101bbf3.js" crossorigin="anonymous"></script>

  <title>Luciano Handal - AR Sandbox</title>
</head>
<body>
  <nav id="navbar" class="navbar navbar-expand-md fixed-top navbar-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/?home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/?about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/?projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/?contact">Contact</a>
        </li>
      </ul>
      <button type="button" class="btn btn-outline-light border-0" data-toggle="modal" data-target="#share_modal" onclick="share()"><i class="fas fa-share-alt"></i></button>
    </div>
  </nav>

  <div id="ar_sandbox_header" class="container mb-5">
    <h1 class="text-center">AR Sandbox</h1>
    <p class="text-center">
      Inspired by University of California Davis’s Augmented Reality (AR)
      Sandbox, my Engineering Projects in Community Service (EPICS) team and I
      decided to build a variation od that project. Our AR Sandbox was built to
      cater to the needs of our project partner, Camp Riley. The AR Sandbox was
      designed to help children with disabilities improve their motor skills in
      a safe and controlled environment.
    </p>
  </div>
  <div id="ar_sandbox_body" class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div>
        <h2 class="text-center text-md-left">Our project partner</h2>
        <p class="text-justify text-md-left">
          Camp Riley is a summer camp in Indiana for children with physical
          disabilities. The camp allows children to build confidence and
          friendships.
        </p>
      </div>
      <img class="mx-auto ml-md-3" id="campriley_img" src="{{ url_for('static', filename='arsandbox/campriley.jpg') }}" alt="Camp Riley Logo">
    </div>
    <div class="d-flex flex-column flex-md-row-reverse justify-content-between my-5">
      <div>
        <h2 class="text-center text-md-right">Design</h2>
        <p class="text-justify text-md-right">
          The design was not only cost efficient, but also accessible portable
          and storable. Its height was ADA compliant, to assure that kids in
          wheelchair could reach for the sand. Additionally it could be
          separated into two pieces for efficient storage and had wheels for
          portability. It was design to provide fun for the campers on the
          summer, but also to be storable and portable for the staff.
        </p>
      </div>
      <img id="design_img" class="mr-md-3" src="{{ url_for('static', filename='arsandbox/design.jpg') }}" alt="Design">
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div>
        <h2 class="text-center text-md-left">How does it work?</h2>
        <p class="text-justify text-md-left">
          The AR Sandbox had an Xbox Kinect and a projector to work. The Xbox
          Kinect would get the height of the sand, then the projector would
          project a different color on the sand depending on that height.
        </p>
      </div>
      <img id="how_img" class="ml-md-3" src="{{ url_for('static', filename='arsandbox/how.jpg') }}" alt="How does it work?">
    </div>
    <div class="d-flex justify-content-center mt-5">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0LQBCTEIkPY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="modal fade" id="share_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="share_modal_title">Link copied</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>The link <a id="modal_link" href="#"></a>, has been copied to your clipboard. </p>
        </div>
        <div class="modal-footer d-flex justify-content-around border-0">
          <button type="button" class="btn btn-outline-light" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='arsandbox.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
