<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="StyleSheet" href="{{ url_for('static', filename='portfolio.css') }}" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6b9101bbf3.js" crossorigin="anonymous"></script>

  <title>Luciano Handal</title>
</head>
<body onresize="getSectionsOffsets()">
  <nav id="navbar" class="navbar navbar-expand-md fixed-top navbar-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <p class="nav-link" onclick="goToSection('home')">Home</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" onclick="goToSection('about')">About</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" onclick="goToSection('projects')">Projects</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" onclick="goToSection('contact')">Contact</p>
        </li>
      </ul>
      <button type="button" class="btn btn-outline-light border-0" data-toggle="modal" data-target="#share_modal" onclick="share()"><i class="fas fa-share-alt"></i></button>
    </div>
  </nav>
  <div id="hello" class="d-flex flex-column align-items-center justify-content-center section">
    <h1 class="text-center" id="hello_world">Hello World!<span id='new_line'>\n</span></h1>
    <h2 id="hello_arrow">&nbsp;</h2>
  </div>
  <div id="home" class="d-flex flex-column align-items-center justify-content-center section">
    <h1 class="text-center">I am <span>Luciano</span>,</h1>
    <h3 class="text-center">Computer Science student and International Ambassador<br>at Purdue University.</h3>
  </div>
  <div id="about" class="section">
    <div class="container d-flex flex-column align-items-center justify-content-center py-3">
      <div class="row p-0">
        <div class="col-12 col-md-6">
          <h1>About Me</h1>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex justify-content-between w-100 mt-md-3">
            <a class="text--center" href="{{ url_for('static', filename='docs/resume.pdf') }}" target="_blank">Resume <i class="fas fa-file"></i></a>
            <a class="text-center" href="http://www.linkedin.com/in/lhandal98/" target="_blank">LinkedIn <i class="fab fa-linkedin"></i></a>
            <a class="text-center" href="https://github.com/lhandalb/" target="_blank">GitHub <i class="fab fa-github"></i></a>
          </div>
        </div>
        <div class="col-12">
          <p>
            Self-starter student with strong technical background, analytical
            skills and the ability to learn quickly. Team player constantly
            learning from others and improving my leadership and communication
            skills.
          </p>
        </div>
      </div>
      <div id="exp_edu_row" class="row p-0 m-0 mx-md-3">
        <div class="col-12 col-md-6 p-0">
          <h2 class="text-center text-md-left">Education</h2>
          <hr>
          <h4>Purdue University</h4>
          <small>2017 – 2021, West Lafayette, IN</small>
          <p>
            <span>BS:</span> Computer Science<br>
            <span>Minor:</span> Mathematics<br>
            <span>GPA:</span> GPA: 3.72
          </p>
          <h4>Semester At Sea</h4>
          <small>2019</small>
          <p>Multi-country study abroad program</p>
        </div>
        <div class="col-12 col-md-6 p-0 my-5 m-md-0">
          <h2 class="text-center text-md-left">Experience</h2>
          <hr>
          <h4>Goldman Sachs</h4>
          <small>2020, New York, NY (Remote Program)</small>
          <p>Incoming Summer Analyst Intern within the Consumer and Investment Management Division </p>
          <h4>Purdue University</h4>
          <small>2019, West Lafayette, IN</small>
          <p>Teaching Assistant</p>
          <h4>Artexacta SRL.</h4>
          <small>2018, La Paz, Bolivia</small>
          <p>User Experience Design Intern</p>
          <h4>Livent SRL.</h4>
          <small>2017, La Paz, Bolivia</small>
          <p>Graphic Designer</p>
        </div>
      </div>
      <div id="skills_row" class="row p-0 m-0 mb-5 mx-md-3">
        <div class="col-12 p-0">
          <h2 class="text-center text-md-left">Skills</h2>
          <hr>
        </div>
        <div class="col-12 col-md-6 p-0">
          <h4>Software</h4>
          <p class="mb-0">
            <span>C</span>, <span>C++</span>, <span>Java</span>, <span>JavaScript</span> and <span>Python</span> programming languages<br><br>
            <span>HTML</span> markup language and <span>CSS</span> style sheet language<br><br>
            <span>SQL</span> database management language<br><br>
            <span>x86</span> assembly language<br>
            User experience, user interphase and graphic design
          </p>
          <p class="m-0 mb-3 mb-md-0 ml-3">Experience working with <span>Adobe XD</span>, <span>Illustrator</span> and <span>Photoshop</span></p>
        </div>
        <div class="col-12 col-md-6 p-0">
          <h4 class="m-md-0 mt-3">Languages</h4>
          <p>
            <span>Spanish</span> native speaker<br><br>
            <span>German</span> Proficient. Attended to a german high school and achieved B2 level on the Sprachdiplom II
          </p>
        </div>
      </div>
      <!-- <div class="d-flex justify-content-md-around flex-column flex-md-row w-100 mt-md-3">
        <a class="text-center" href="{{ url_for('static', filename='docs/resume.pdf') }}" target="_blank">Resume</a>
        <a class="text-center" href="http://www.linkedin.com/in/lhandal98/" target="_blank">LinkedIn</a>
        <a class="text-center" href="https://github.com/lhandalb/" target="_blank">GitHub</a>
      </div> -->
    </div>

  </div>
  <div id="projects" class="section">
    <div class="row">
      <h1>Projects</h1>
    </div>
    <div class="row carousel p-0 m-0 pb-5">
      <div class="col-1 p-0">
        <button type="button" class="carousel_btn btn btn-outline-light border-0" onclick="projectSlide(true)"><i class="fas fa-chevron-left"></i></button>
      </div>
      <div class="col p-0">
        <div id="easya" class="project card mb-3">
          <img src="{{ url_for('static', filename='projects/easya.jpg') }}" class="card-img-top" alt="easyA">
          <div class="card-body">
            <h5 class="card-title">easyA</h5>
            <p class="card-text">easyA is a review site which allows Purdue students to rate courses. The web application helps students decide between courses choices and get an insight of different academic paths.</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a href="https://www.easya.app" class="btn btn-outline-light project_btn">Check It Out</a>
          </div>
        </div>
        <div id="epics" class="project card mb-3">
          <img src="{{ url_for('static', filename='projects/arsandbox.jpg') }}" class="card-img-top" alt="AR Sandbox">
          <div class="card-body">
            <h5 class="card-title">AR Sandbox</h5>
            <p class="card-text">Inspired by University of California Davis’s Augmented Reality (AR) Sandbox, my Engineering Projects in Community Service (EPICS) team and I decided to build a variation od that project. Our AR Sandbox was built to cater to the needs of our project partner, Camp Riley. The AR Sandbox was designed to help children with disabilities improve their motor skills in a safe and controlled environment.</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <a href="{{ url_for('arsandbox') }}" class="btn btn-outline-light project_btn">Check It Out</a>
          </div>
        </div>
        <div id="gitprojects" class="project">
          <h4 class="text-center" id="git_title">Open Souce Projects</h4>
          <div class="d-flex justify-content-around align-content-around flex-wrap">
            <div class="card git_card mb-3 m-lg-0">
              <img src="{{ url_for('static', filename='projects/msrona.png') }}" class="card-img-top" alt="Covid Bot">
              <div class="card-body d-flex flex-column justify-content-between">
                <div>
                  <h5 class="card-title">Ms Rona</h5>
                  <p class="card-text">WhatsApp bot that sends information of the COVID-19 pandemic. The information include reports of cases globally and by country. It also sends information about prevention and symptoms.</p>
                </div>
                <a href="https://github.com/lhandalb/tinderBot" class="btn btn-outline-light project_btn">Go to Repository</a>
              </div>
            </div>
            <div class="card git_card mb-3 m-lg-0">
              <img  src="{{ url_for('static', filename='projects/tinderbot.jpg') }}" class="card-img-top" alt="Tinder Bot">
              <div class="card-body d-flex flex-column justify-content-between">
                <div>
                  <h5 class="card-title">Tinder Bot</h5>
                  <p class="card-text">Tinder bot that logs in into an account and 'likes' all profiles on an specified location until the user is out of swipes.</p>
                </div>
                <a href="https://github.com/lhandalb/covid-bot" class="btn btn-outline-light project_btn">Go to Repository</a>
              </div>
            </div>
            <div class="card git_card">
              <img  src="{{ url_for('static', filename='projects/portfolio.jpg') }}" class="card-img-top" alt="This">
              <div class="card-body d-flex flex-column justify-content-between">
                <div>
                  <h5 class="card-title">This</h5>
                  <p class="card-text">Minimalistic open-source portfolio</p>
                </div>
                <a href="https://github.com/lhandalb/portfolio" class="btn btn-outline-light project_btn">Go to Repository</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 p-0">
        <button type="button" class="carousel_btn btn btn-outline-light border-0" onclick="projectSlide()"><i class="fas fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
  <div id="contact" class="section d-flex align-items-center justify-content-center">
    <div id="contact_container" class="container">
      <h1>Contact me</h1>
      <form id="contact_form" method="post" onsubmit="return sendForm()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="input" class="form-control" id="name" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="name">Subject</label>
          <input type="input" class="form-control" id="subject" name="subject" placeholder="Subject">
        </div>
        <div class="form-group">
          <label for="email">Email address*</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
        </div>
        <div class="form-group">
          <label for="message">Message*</label>
          <textarea class="form-control" id="message" name="message" rows="6" required></textarea>
        </div>
        <div class="d-flex justify-content-between">
          <small>*required</small>
          <button type="submit" class="btn btn-outline-light">Send</button>
        </div>
      </form>
    </div>
    <div id="contact_thx">
      <h1 class="text-center">Thank you!</h1>
      <h3 class="text-center">I will reach out as soon as possible.</h3>
    </div>

  </div>
  <div class="modal fade" id="share_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="share_modal_title">Link copied</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>The link <a id="modal_link" href="#"></a>, has been copied to your clipboard. </p>
        </div>
        <div class="modal-footer d-flex justify-content-around border-0">
          <button type="button" class="btn btn-outline-light" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='portfolio.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
