<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="StyleSheet" href="{{ url_for('static', filename='portfolio.css') }}" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6b9101bbf3.js" crossorigin="anonymous"></script>

  <title>Luciano Handal</title>
  <!-- <meta name="description" content="Aspiring Computer Scientist"> -->
  <meta property="og:title" content="Luciano Handal" />
  <meta property="og:url" content="https://www.lucianohandal.com/" />
  <!-- <meta property="og:description" content="Aspiring Computer Scientist"> -->
  <meta property="og:image" content="{{ url_for('static', filename='projects/portfolio.jpg') }}">
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
</head>
<body onresize="getSectionsOffsets()">
  <nav id="navbar" class="navbar navbar-expand-sm fixed-top navbar-dark">
    <div class="d-flex justify-content-end">
      <button class="navbar-toggler border-0" type="button" onclick="toggleIcon()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i id="nav_icon" class="fas fa-ellipsis-v"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-right m-0" onclick="goToSection('home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-right m-0" onclick="goToSection('about')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-right m-0" onclick="goToSection('projects')">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-right m-0" onclick="goToSection('contact')">Contact</a>
        </li>
      </ul>
      <button type="button" class="btn btn-outline-light border-0 d-none d-sm-block" data-toggle="modal" data-target="#share_modal" onclick="share()"><i class="fas fa-share-alt"></i></button>
    </div>
  </nav>
  <div id="hello" class="section">
    <h1 class="text-center" id="hello_world">Hello World!<span id='new_line'>\n</span></h1>
    <h2 id="hello_arrow" class="text-center" onclick="goToSection('home')"><i class="fas fa-arrow-circle-down"></i></h2>
  </div>
  <div id="home" class="d-flex flex-column align-items-center justify-content-center section">
    <h1 class="text-center">I am <span>Luciano</span>,</h1>
    <h3 class="text-center px-2">Computer Science student and <br class="d-lg-none">International Ambassador<br>at Purdue University.</h3>
  </div>
  <div id="about" class="section">
    <div class="container section_title">
      <h1>About Me</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-8">
          <h5 class="text-center text-md-left">
            I am a self-starter software engineer with a strong technical background, constantly learning from my peers.
            My technical background and professional experiences are complemented by the diversity of teams and
            environments I have worked in.
            <br><br>
            My internships range not only from graphic design to backend development but also range from working on
            start-ups in Bolivia to multinational companies in the US. Likewise, my undergraduate education has taken
            place in a variety of countries and environments, each with a unique array of challenges. Those experiences,
            and most specifically the people I worked with, guide me throughout my studies and led me to start my career
            as an Engineering Analyst at Goldman Sachs.
            <br><br>
            My journey as a computer scientist just started in the finance industry, while I still have a lot to learn,
            I aim to use the tools in my reach to create a positive impact.
          </h5>
        </div>
        <div class="col-12 col-sm-4 col-lg-3">
          <div class="d-none d-sm-flex flex-column justify-content-around w-100 h-100">
            <a class="text-right" href="{{ url_for('static', filename='docs/resume.pdf') }}" target="_blank">Resume <i class="fas fa-file"></i></a>
            <a class="text-right" href="http://www.linkedin.com/in/lucianohandal/" target="_blank">LinkedIn <i class="fab fa-linkedin"></i></a>
            <a class="text-right" href="https://github.com/lucianohandal/" target="_blank">GitHub <i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="">
        <div class="d-flex mt-3 justify-content-start">
          <button id="tab_edu" class="btn tab" type="button" onclick="selectTab('edu')">
            Education
          </button>
          <button id="tab_exp" class="btn tab" type="button" onclick="selectTab('exp')">
            Experience
          </button>
          <button id="tab_skl" class="btn tab active_tab" type="button" onclick="selectTab('skl')">
            Skills
          </button>
        </div>
      </div>
      <div class="">
        <div class="about_collapse collapse w-100" id="collapse_edu">
          <div class="card card-body">
            <h6>Purdue University</h6>
            <small>2017 – 2021, West Lafayette, IN</small>
            <p>
              <span>BS:</span> Computer Science<br>
              <span>Minor:</span> Mathematics<br>
              <span>GPA:</span> 3.76
            </p>
            <h6>Semester At Sea</h6>
            <small>2019</small>
            <p>Multi-country study abroad program</p>
          </div>
        </div>
        <div class="about_collapse collapse w-100" id="collapse_exp">
          <div class="card card-body">
            <h6>Goldman Sachs</h6>
            <small>2021, Jersey City, NJ</small>
            <p>Engineering Analyst within the Asset Management Division</p>
            <small>2020, New York, NY (Remote Program)</small>
            <p>Summer Engineering Analyst within the Consumer and Investment Management Division</p>
            <h6>Seis Puntos</h6>
            <small>2020, La Paz, Bolivia</small>
            <p>Lead Developer</p>
            <h6>Purdue University</h6>
            <small>2019, West Lafayette, IN</small>
            <p>Teaching Assistant</p>
            <h6>Artexacta SRL.</h6>
            <small>2018, La Paz, Bolivia</small>
            <p>User Experience Design Intern</p>
            <h6>Livent SRL.</h6>
            <small>2017, La Paz, Bolivia</small>
            <p>Graphic Designer</p>
          </div>
        </div>
        <div class="about_collapse collapse show w-100" id="collapse_skl">
          <div class="card card-body">
            <div class="row">
              <div class="col-12 col-sm-6">
                <h5><span>Software</span></h5>
                <p class="mb-0">
                  <span>C</span>, <span>C++</span>, <span>Java</span>, <span>Python</span> and <span>JavaScript</span> programming languages<br>
                  <span>HTML</span> markup language and <span>CSS</span> style sheet language<br>
                  <span>SQL</span> database management language<br>
                  <span>x86</span> assembly language<br>
                  User experience, user interphase and graphic design
                </p>
                <p class="ml-3">Experience working with <span>Adobe XD</span>, <span>Illustrator</span> and <span>Photoshop</span></p>
              </div>
              <div class="col-12 col-sm-6">
                <h5><span>Languages</span></h5>
                <p>
                  <span>Spanish</span> native speaker<br><br>
                  <span>German</span> Proficient. Attended to a german high school and achieved B2 level on the Sprachdiplom II
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex d-sm-none justify-content-around my-5 w-100 h-100">
        <a class="text-center" href="{{ url_for('static', filename='docs/resume.pdf') }}" target="_blank">Resume <i class="fas fa-file"></i></a>
        <a class="text-center" href="http://www.linkedin.com/in/lucianohandal/" target="_blank">LinkedIn <i class="fab fa-linkedin"></i></a>
        <a class="text-center" href="https://github.com/lucianohandal/" target="_blank">GitHub <i class="fab fa-github"></i></a>
      </div>
    </div>

  </div>
  <div id="projects" class="section ">

    <div id="projects_container" class="d-flex flex-column justify-content-center justify-content-around align-items-center">
      <div id="project_btn" class="d-flex justify-content-between d-sm-none">
        <button type="button" class="btn-outline-light border-0" onclick="projectSlide(true)"><i class="fas fa-chevron-left"></i></button>
        <button type="button" class="btn-outline-light border-0" onclick="projectSlide()"><i class="fas fa-chevron-right"></i></button>
      </div>
      <h1 class="pl-4 w-100">Projects</h1>
      <div class="row pb-md-4">
        <div id="seispuntos" class="project_div col-12 col-sm-6 col-lg-4 selected">
          <div class="project_info d-flex flex-column justify-content-center  align-items-center">
            <p class="text-center m-0 p-0">Seis Puntos</p>
            <small class="text-center p-3">
              Landing page for a custom software development startup
            </small>
            <a class="btn btn-outline-light text-center" href="https://www.seispuntos.com/" target="_blank">Check It Out</a>
          </div>
          <div class="project d-flex justify-content-center">
          </div>
          <div class="d-flex flex-column justify-content-between d-sm-none phone_info">
            <p class="text-center">Seis Puntos</p>
            <small>
              Landing page for a custom software development startup
            </small>
            <a class="text-center" href="https://www.seispuntos.com/" target="_blank">Check It Out</a>
          </div>
        </div>
        <div id="easya" class="project_div col-12 col-sm-6 col-lg-4">
          <div class="project_info d-flex flex-column justify-content-center  align-items-center">
            <p class="text-center m-0 p-0">easyA</p>
            <small class="text-center p-3">
              Review site for Purdue University courses.
            </small>
            <a class="btn btn-outline-light text-center" href="https://www.easya.app" target="_blank">Check It Out</a>
          </div>
          <div class="project d-flex justify-content-center">
            <!-- <img src="{{ url_for('static', filename='projects/easya.jpg') }}" alt="easyA"> -->
          </div>
          <div class="d-flex flex-column justify-content-between d-sm-none phone_info">
            <p class="text-center">easyA</p>
            <small class="text-center">
              Review site for Purdue University courses.
            </small>
            <a class="text-center"  href="https://www.easya.app" target="_blank">Check It Out</a>
          </div>
        </div>
        <div id="arsandbox"  class="project_div col-12 col-sm-6 col-lg-4">
          <div class="project_info d-flex flex-column justify-content-center  align-items-center">
            <p class="text-center m-0 p-0">AR Sandbox</p>
            <small class="text-center p-3">
              Augmented Reality (AR) Sandbox crafted for Camp Riley.
            </small>
            <a class="btn btn-outline-light text-center" href="{{ url_for('arsandbox') }}" target="_blank">Check It Out</a>
          </div>
          <div class="project d-flex justify-content-center">
            <!-- <img src="{{ url_for('static', filename='projects/arsandbox.jpg') }}" alt="AR Sandbox"> -->
          </div>
          <div class="d-flex flex-column justify-content-between d-sm-none phone_info">
            <p class="text-center">AR Sandbox</p>
            <small>
              Augmented Reality (AR) Sandbox crafted for Camp Riley.
            </small>
            <a class="text-center" href="{{ url_for('arsandbox') }}" target="_blank">Check It Out</a>
          </div>
        </div>
        <div id="msrona" class="project_div col-12 col-sm-6 col-lg-4">
          <div class="project_info d-flex flex-column justify-content-center  align-items-center">
            <p class="text-center m-0 p-0" href="https://github.com/lhandalb/covid-bot" target="_blank">Ms Rona</p>
            <small class="text-center p-3">
              WhatsApp bot that sends current information of the COVID-19 pandemic.
            </small>
            <a class="btn btn-outline-light text-center" href="https://github.com/lhandalb/covid-bot" target="_blank">Go To Repository</a>
          </div>
          <div class="project">
            <!-- <img class="png_img" src="{{ url_for('static', filename='projects/msrona.png') }}" alt="Ms Rona"> -->
          </div>
          <div class="d-flex flex-column justify-content-between d-sm-none phone_info">
            <p class="text-center">Ms Rona</p>
            <small>
              WhatsApp bot that sends current information of the COVID-19 pandemic.
            </small>
            <a class="text-center" href="https://github.com/lhandalb/covid-bot" target="_blank">Go To Repository</a>
          </div>
        </div>
        <div id="tinderbot" class="project_div col-12 col-sm-6 col-lg-4">
          <div class="project_info d-flex flex-column justify-content-center  align-items-center">
            <p class="text-center m-0 p-0">Tinder Bot</p>
            <small class="text-center p-3">
              Tinder bot that logs in into an account and 'likes' all profiles
              on an specified location.
            </small>
            <a class="btn btn-outline-light text-center" href="https://github.com/lhandalb/tinderBot" target="_blank">Go To Repository</a>
          </div>
          <div class="project d-flex justify-content-center">
            <!-- <img src="{{ url_for('static', filename='projects/tinderbot.jpg') }}" alt="Tinder Bot"> -->
          </div>
          <div class="d-flex flex-column justify-content-between d-sm-none phone_info">
            <p class="text-center">Tinder Bot</p>
            <small>
              Tinder bot that logs in into an account and 'likes' all profiles
              on an specified location.
            </small>
            <a class="text-center" href="https://github.com/lhandalb/tinderBot" target="_blank">Go To Repository</a>
          </div>
        </div>
        <div id="portfolio" class="project_div col-12 col-sm-6 col-lg-4">
          <div class="project_info d-flex flex-column justify-content-center  align-items-center">
            <p class="text-center m-0 p-0">This</p>
            <small class="text-center p-3">Minimalistic open-source portfolio</small>
            <a class="btn btn-outline-light text-center" href="https://github.com/lhandalb/portfolio" target="_blank">Go To Repository</a>
          </div>
          <div class="project d-flex justify-content-center">
            <!-- <img src="{{ url_for('static', filename='projects/portfolio.jpg') }}" alt="Portfolio"> -->
          </div>
          <div class="d-flex flex-column justify-content-between d-sm-none phone_info">
            <p class="text-center">This</p>
            <small>Minimalistic open-source portfolio</small>
            <a class="text-center" href="https://github.com/lhandalb/portfolio" target="_blank">Go To Repository</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="contact" class="section d-flex align-items-center justify-content-center">
    <div id="contact_container" class="container">
      <h1>Contact me</h1>
      <form id="contact_form" method="post" onsubmit="return sendForm()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="input" class="form-control" id="name" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="name">Subject</label>
          <input type="input" class="form-control" id="subject" name="subject" placeholder="Subject">
        </div>
        <div class="form-group">
          <label for="email">Email address*</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
        </div>
        <div class="form-group">
          <label for="message">Message*</label>
          <textarea class="form-control" id="message" name="message" rows="6" required></textarea>
        </div>
        <div class="d-flex justify-content-between">
          <small>*required</small>
          <button type="submit" class="btn btn-outline-light">Send</button>
        </div>
      </form>
    </div>
    <div id="contact_thx">
      <h1 class="text-center">Thank you!</h1>
      <h3 class="text-center">I will reach out as soon as possible.</h3>
    </div>

  </div>
  <div class="modal fade" id="share_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="share_modal_title">Link copied</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>The link <a id="modal_link" href="#"></a>, has been copied to your clipboard. </p>
        </div>
        <div class="modal-footer d-flex justify-content-around border-0">
          <button type="button" class="btn btn-outline-light" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='portfolio.js') }}"></script>
  <script type="text/javascript"> getVars('{{loc}}') </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
