/*colors: eeeeee 32e0c4 393e46 222831*/
/* .body {
  font-family: 'Montserrat', sans-serif;
} */

h1, h2, h3, h4, h5, h6, p, small, label, button{
  font-family: 'Montserrat', sans-serif;
  color: #eeeeee;
}

#navbar {
  display: none;
}

.section {
  min-height: 100vh;
  padding-top: 4.5rem;
}

.section:nth-of-type(odd) {
  background:  #222831;
}

.section:nth-of-type(even) {
  background:  #393e46;
}

#hello h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 5rem;
}

#type_pos {
  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
     opacity: 1;
  }
  to {
     opacity: 0;
  }
}

#new_line {
  color: #32e0c4;
}

#home h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
}

#home h1 span {
  font-weight: bold;
}

#exp_edu_row, #skills_row{
  width: 100%;
}

#contact input{
  border: 0;
  background-color: rgba(238, 238, 238, 0.2);
}

#contact textarea{
  border: 0;
  background-color: rgba(238, 238, 238, 0.2);
}

.close{
  color: white;
}

.modal-footer button {
  width: 30%;
}

#dismiss_btn{
  display: none;
  width: 80%;
}
